* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.main {
    text-align: center;
    height: 40rem;
    width: 100%;
    margin: auto;
}

.question {
    height: 100%;
}

.question img {
    margin-top: 4rem;
    width: 20rem;
    height: 20rem;
}

.question__content {
    line-height: 4rem;
    font-size: 5rem;
    margin: 5rem;
}

.question__btn {
    margin: auto;
    width: 8%;
    display: flex;
    justify-content: left;
}

#btnYes {
    margin-right: 2rem;
}

#btnNo {
    z-index: 9;
    position: relative;
    top: 0;
    right: 0;
}